html, body {
  height: 100%;
}

.container {
  margin: auto;
  height: 100%;
  width: 70%;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  width: 100%;
  font-size: 20px;
  height: auto;
  margin-bottom: -10px;
  margin-top: -10px;
}

.message-container {
  height: 70%;
  margin-bottom: 30px;
}

.input-container {
  width: 100%;
  display: inline-block;
  height: 20%;
  text-align: center;
}

.header-elem {
  height: 20%;
  display: inline-block;
  text-align: center;
}

.user-info {
  width: 33%;
  float: left;
  padding-top: 40px;
  padding-right: 5px;
}

#user-name {
  margin-left: 7px;
}

#title {
  width: 33%;
}

.logout-container {
  width: 30%;
  padding-top: 30px;
  float: right;
}

.authbtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
}

.authbtn:hover {
  background-color: #3e8e41;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#results {
  font-size: 18px;
  vertical-align: middle;
  height: 100%;
}

.msg {
  display: block;
  padding: 10px;
  margin-top: 10px;
  background-color: lightgray;
  border-radius: 15px;
  vertical-align: middle;
  height: 20%;
  width: auto;
}

.msg p {
  margin-top: .5px;
  margin-bottom: 1px;
  padding: 5px;
}


#post {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 20%;
}

#post:hover {
  background-color: #3e8e41;
}

#text {
  font-size: 18px;
  height: 30px;
  width: 75%;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}

#text:focus {
  border: solid 5px #969696;
}

@media screen and (max-width: 980px) and (min-width: 551px){
  #post{
    width: 15%;
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) and (min-width: 0px){
  .title-words{
    display: none;
  }
  #text{
    width: 91%;
  }
  #post {
    width: 100%;
    margin-top: 5px;
  }
  .authbtn{
    padding: 8px;
    margin-left: 20px;
  }
}
